# ignore built versions of docs
/docs/html/
/docs/doctrees/

# ignore notebook checkpoints
research_notebooks/.ipynb_checkpoints
docs/source/notebooks/.ipynb_checkpoints

# ignore compiled stuff
*.pyc

env/

#binaries
*.DS_Store

.cache

# ignore output from tests
data/wages_test
data/wages_test_all
