<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wiggum: Data Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        function validate() {
            var trend_type_selection = document.getElementById("trend_type_selection");   
            var trend_types = getSelectValues(trend_type_selection);

            if (trend_types === undefined || trend_types.length == 0) {
                alert("Please select the trend type!");
                return false;
            }

            return true;
        }

        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;
        
            for (var i=0, iLen=options.length; i<iLen; i++) {
            opt = options[i];
        
            if (opt.selected) {
                result.push(opt.value);
            }
            }
            return result;
        }

        function update_qual_thresh(val) {
            document.getElementById('qual_thresh_label').innerText=val; 
        }

        var folder = "";

        function getFolder(e) {
            var files = e.target.files;
            var path = files[0].webkitRelativePath;

            var path_split = path.split("/");
            folder = path_split[0];
            document.getElementById('myFile').value= null;
        }

        function clearFolder() {
            folder = "";
            document.getElementById('myFolder').value= null;
        }

        $(function() {
            // initialize 
            selectTypeValue = "pearson_corr";

            $('#open-file-btn').click(function() {

                if (folder != "") {
                    // folder chosen for saved data
                    $('#projectName').val(folder);

                    $.ajax({
                        type: 'POST',
                        url: '/',
                        data: {'action':'folder_open', 'folder': folder},                               
                        success: function(data) {
                            var var_names = data.var_names;
                            var var_types = data.var_types;
                            var samples = data.samples;
                            var isCounts = data.isCounts;
                            var roles = data.roles;
                            var possibleRoles = data.possible_roles;
                            var weighting_vars = data.weighting_vars;
                            roleTable(var_names, var_types, samples, possibleRoles, isCounts, roles, weighting_vars);

                            // populate trend type dropdown options
                            var option = '';
                            var trend_types = data.trend_types;
                            var trend_type_list = data.trend_type_list;
                            var trend_display_names = data.trend_display_names;  
                            $('#trend_type_selection').empty();
                            for (var i=0;i<trend_types.length;i++){
                                if (trend_type_list.includes(trend_types[i])){
                                    option += '<option id="trend_type_option" value="'+ trend_types[i] + '" selected>' + trend_display_names[i] + '</option>';
                                } else {
                                    option += '<option id="trend_type_option" value="'+ trend_types[i] + '">' + trend_display_names[i] + '</option>';
                                }
                            }
                            $('#trend_type_selection').append(option);

                            // Avoid ctrl-click                                    
                            $('option').mousedown(function(e) {
                                e.preventDefault();
                                var originalScrollTop = $(this).parent().scrollTop();
                                $(this).prop('selected', $(this).prop('selected') ? false : true);
                                var self = this;
                                $(this).parent().focus();
                                setTimeout(function() {
                                    $(self).parent().scrollTop(originalScrollTop);
                                }, 0);
                                
                                return false;
                            });                                   
                        }
                    })
                } else {
                    // When data file chosen
                    var form_data = new FormData($('#open-file')[0]);
                    var action = $('#open-file-btn').val();
                    form_data.append('action', action);

                    d3.select('#roleSelection').select("table").remove();
                    var header;
                    var file = document.querySelector('input[type=file]').files[0]; 

                    if (file) {
                        var reader = new FileReader();
                        reader.onloadend = function(evt) {
                            var dataUrl = evt.target.result;

                            d3.csv( dataUrl, function( rows ) {
                                header = Object.keys(rows[0]);

                                $.ajax({
                                    type: 'POST',
                                    url: '/',
                                    data: form_data,                                
                                    contentType: false,
                                    cache: false,
                                    processData: false,
                                    success: function(data) {
                                        var var_types = data.var_types;
                                        var samples = data.samples;
                                        var possibleRoles = data.possible_roles;
                                        roleTable(header, var_types, samples, possibleRoles);

                                        // populate trend type dropdown options
                                        $('#trend_type_selection').empty();
                                        var option = '';
                                        var trend_types = data.trend_types;
                                        var trend_display_names = data.trend_display_names;                                        
                                        for (var i=0;i<trend_types.length;i++){
                                            option += '<option id="trend_type_option" value="'+ trend_types[i] + '">' + trend_display_names[i] + '</option>';
                                        }
                                        $('#trend_type_selection').append(option);

                                        // Avoid ctrl-click                                    
                                        $('option').mousedown(function(e) {
                                            e.preventDefault();
                                            var originalScrollTop = $(this).parent().scrollTop();
                                            $(this).prop('selected', $(this).prop('selected') ? false : true);
                                            var self = this;
                                            $(this).parent().focus();
                                            setTimeout(function() {
                                                $(self).parent().scrollTop(originalScrollTop);
                                            }, 0);
                                            
                                            return false;
                                        });                                    
                                    },
                                });
                            })
                        };
                        reader.readAsDataURL(file);
                    }  
                }              
            });

            // Visualize Trends button click
            $('#visualize-btn').click(function() {
                var form_data = new FormData($('#open-file')[0]);
                var action = $('#visualize-btn').val();

                form_data.append('action', action);

                var metaList = [];
                metaList = getMetaList();
                
                form_data.append('metaList', metaList);

                var trend_type_selection = document.getElementById("trend_type_selection");   
                var trend_types = getSelectValues(trend_type_selection);
                form_data.append('trend_types', trend_types);

                var errFlag = false;

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    async: false,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                        // Check missing trend type from result table
                        if (data == 'miss_old_trend_type') {
                            var result = confirm("Do you really want to delete the trend types already in result talbe?");
                            if (result == true) {
                                // do nothing, redirect to vis page
                            } else {
                                errFlag = true;
                            }
                        }
                        // Check computable trend
                        if (data == 'no_computable_trend') {
                            errFlag = true;
                            alert("Current data description yields no results for selected trends. Try selecting more trend types or changing variable roles.")
                        }
                    },
                });
                if (errFlag) {
                    return false;
                }
            });

            // Save button click
            $('#save-btn').click(function() {
                var form_data = new FormData($('#open-file')[0]);
                var action = $('#save-btn').val();
                var projectName = $('#projectName').val();
                
                if (projectName == '') {
                    alert("Please input your project name!")
                    return;
                }

                form_data.append('action', action);
                form_data.append('projectName', projectName);

                var metaList = [];
                metaList = getMetaList();
                form_data.append('metaList', metaList);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                        var saved = document.getElementById("save-label");
                        saved.innerText = data;
                    },
                });
                
            });  
            
            // Compute Quantiles button click
            $('#quantiles-btn').click(function() {
                var form_data = new FormData($('#open-file')[0]);
                var action = $('#quantiles-btn').val();

                form_data.append('action', action);

                var metaList = [];
                metaList = getMetaList();
                form_data.append('metaList', metaList);

                var checked_vars = [];

                var quantiles_checkbox = document.getElementsByName("quantiles_checkbox");

                for (var i = 0; i < quantiles_checkbox.length; i++) {
                    if (quantiles_checkbox[i].checked) {
                        checked_vars.push(quantiles_checkbox[i].value);
                    }
                }

                form_data.append('checked_vars', checked_vars);

                var user_cutoffs = $('#user_cutoffs').val();
                form_data.append('user_cutoffs', user_cutoffs);

                var intersection_vars = [];

                var intersection_checkbox = document.getElementsByName("intersection_checkbox");

                for (var i = 0; i < intersection_checkbox.length; i++) {
                    if (intersection_checkbox[i].checked) {
                        intersection_vars.push(intersection_checkbox[i].value);
                    }
                }

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                        d3.select('#roleSelection').select("table").remove();

                        var var_names = data.var_names;
                        var var_types = data.var_types;
                        var samples = data.samples;
                        var isCounts = data.isCounts;
                        var roles = data.roles;
                        var possibleRoles = data.possible_roles;
                        var weighting_vars = data.weighting_vars;

                        roleTable(var_names, var_types, samples, possibleRoles, isCounts, roles, 
                                    weighting_vars, checked_vars, intersection_vars);      
                        
                        // Avoid ctrl-click                                    
                        $('option:not(#trend_type_option)').mousedown(function(e) {
                            e.preventDefault();
                            var originalScrollTop = $(this).parent().scrollTop();

                            $(this).prop('selected', $(this).prop('selected') ? false : true);
                            var self = this;
                            $(this).parent().focus();
                            setTimeout(function() {
                                $(self).parent().scrollTop(originalScrollTop);
                            }, 0);
                            
                            return false;
                        });                              
                    },
                });
                
            }); 

            // Clustering button click
            $('#clustering-btn').click(function() {
                var form_data = new FormData($('#open-file')[0]);
                var action = $('#clustering-btn').val();

                form_data.append('action', action);

                var metaList = [];
                metaList = getMetaList();
                form_data.append('metaList', metaList);

                var qual_thresh = document.getElementById("qual_thresh").value;
                form_data.append('qual_thresh', qual_thresh);

                var checked_vars = [];

                var quantiles_checkbox = document.getElementsByName("quantiles_checkbox");

                for (var i = 0; i < quantiles_checkbox.length; i++) {
                    if (quantiles_checkbox[i].checked) {
                        checked_vars.push(quantiles_checkbox[i].value);
                    }
                }

                var intersection_vars = [];

                var intersection_checkbox = document.getElementsByName("intersection_checkbox");

                for (var i = 0; i < intersection_checkbox.length; i++) {
                    if (intersection_checkbox[i].checked) {
                        intersection_vars.push(intersection_checkbox[i].value);
                    }
                }

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                        d3.select('#roleSelection').select("table").remove();

                        var var_names = data.var_names;
                        var var_types = data.var_types;
                        var samples = data.samples;
                        var isCounts = data.isCounts;
                        var roles = data.roles;
                        var possibleRoles = data.possible_roles;
                        var weighting_vars = data.weighting_vars;

                        roleTable(var_names, var_types, samples, possibleRoles, isCounts, roles, 
                                    weighting_vars, checked_vars, intersection_vars);      
                        
                        // Avoid ctrl-click                                    
                        $('option:not(#trend_type_option)').mousedown(function(e) {
                            e.preventDefault();
                            var originalScrollTop = $(this).parent().scrollTop();

                            $(this).prop('selected', $(this).prop('selected') ? false : true);
                            var self = this;
                            $(this).parent().focus();
                            setTimeout(function() {
                                $(self).parent().scrollTop(originalScrollTop);
                            }, 0);
                            
                            return false;
                        });                              
                    },
                });
                
            }); 
            
            // Add Intersection button click
            $('#intersection-btn').click(function() {
                var form_data = new FormData($('#open-file')[0]);
                var action = $('#intersection-btn').val();

                form_data.append('action', action);

                var metaList = [];
                metaList = getMetaList();
                form_data.append('metaList', metaList);

                var checked_vars = [];

                // Get the current settings from quntile checkboxes for redrawing role table
                var quantiles_checkbox = document.getElementsByName("quantiles_checkbox");

                for (var i = 0; i < quantiles_checkbox.length; i++) {
                    if (quantiles_checkbox[i].checked) {
                        checked_vars.push(quantiles_checkbox[i].value);
                    }
                }

                // Get the current intersectional variable settings
                var intersection_vars = [];

                var intersection_checkbox = document.getElementsByName("intersection_checkbox");

                for (var i = 0; i < intersection_checkbox.length; i++) {
                    if (intersection_checkbox[i].checked) {
                        intersection_vars.push(intersection_checkbox[i].value);
                    }
                }

                form_data.append('intersection_vars', intersection_vars);     
                
                var tuple_lens = $('#tuple_lens').val();
                form_data.append('tuple_lens', tuple_lens);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                        d3.select('#roleSelection').select("table").remove();

                        var var_names = data.var_names;
                        var var_types = data.var_types;
                        var samples = data.samples;
                        var isCounts = data.isCounts;
                        var roles = data.roles;
                        var possibleRoles = data.possible_roles;
                        var weighting_vars = data.weighting_vars;

                        // redraw role table
                        roleTable(var_names, var_types, samples, possibleRoles, isCounts, roles, 
                                weighting_vars, checked_vars, intersection_vars);      
                        
                        // Avoid ctrl-click                                    
                        $('option:not(#trend_type_option)').mousedown(function(e) {
                            e.preventDefault();
                            var originalScrollTop = $(this).parent().scrollTop();

                            $(this).prop('selected', $(this).prop('selected') ? false : true);
                            var self = this;
                            $(this).parent().focus();
                            setTimeout(function() {
                                $(self).parent().scrollTop(originalScrollTop);
                            }, 0);
                            
                            return false;
                        });                              
                    },
                });
                
            }); 

        });           
    </script>
</head>
<body class="index_center">
 <!--  <form id="upload-file" method="post" enctype="multipart/form-data">   -->
  <form id="open-file" action="/visualize" method="post" onsubmit="return validate();"> 

    <div class= "row">
        <div id="extra">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label style="font-size: 14px;">Choose one file to load a new dataset or a directory with previously saved metadata</label><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="file" type="file" id="myFile" style = "width:170px" onchange="clearFolder()">
            <input name="file" type="file" id="myFolder" onchange="getFolder(event)" style = "width:170px" multiple webkitdirectory mozdirectory msdirectory odirectory directory>
            <button id="open-file-btn" type="button" value="open">Open</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <select id = "trend_type_selection" multiple="multiple">
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div id="control_table">
                <table class="rankingparam" cellspacing="0" cellpadding="0" align="center">
                    <tr class = "paramtr">
                        <td class="param">            
                            <input name="user_cutoffs" type="text" id="user_cutoffs" placeholder="Quantiles(e.g., 0.25,0.75)">
                        </td>
                        <td class="param">            
                            <button id="quantiles-btn" type="button" value="quantiles">Compute Quantiles</button>
                        </td>
                        <td class="param">  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="visualize-btn" type="submit" value="visualize">Visualize Trends</button> 
                        </td>                                         
                    </tr>
                    <tr class = "paramtr">
                        <td class="param">
                            <input type="range" style = "width: 115px;" min="0" max="1" step="0.01" id="qual_thresh" value = "0.2" onchange="update_qual_thresh(this.value);">
                            &nbsp;<label id="qual_thresh_label" style="font-size: 12px;">0.2</label>  
                        </td>
                        <td class="param">
                            <button id="clustering-btn" type="button" value="clustering">Clustering</button> 
                        </td>                    
                    </tr>
                    <tr class = "paramtr">
                        <td class="param">            
                            <input name="tuple_lens" type="text" id="tuple_lens" style = "width: 192px;" title="e.g., 3 or 2,3" placeholder="Number of Variables per Intersection">
                        </td>
                        <td class="param">            
                            <button id="intersection-btn" type="button" value="intersection">Add Intersection</button>
                        </td>                 
                    </tr>                        
                    <tr class = "paramtr">
                        <td class="param">
                                <input name="projectName" type="text" id="projectName" placeholder="Project Name">                        
                        </td>
                        <td class="param">
                                <button id="save-btn" type="button" value="save">Save</button>    
                                <label id="save-label" style="font-size: 14px;"></label>                                            
                        </td>                    
                    </tr>                                    
                </table>
            </div>
        </div> 
        <div id="typeSelector">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id="roleSelection">
        </div>             
    </div>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>    
    </form>

</body>
