<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wiggum: Interactive Exploration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://d3js.org/d3.v4.min.js"></script>   
    <script src="https://unpkg.com/d3-simple-slider"></script>    
    <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>       
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.13.0/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    

    <script>     
        $(function() {
            // initial draw
            $(document).ready(function(){
                $.ajax({ 
                    type: 'POST',
                    url: "/explore",
                    data: {'action':'page_load'},
                    success: function(data){
                        init(data)

                        drawDistanceHeatmap2D(data.distance_heatmap_dict);

                        drawBipartiteGraph(data.distance_heatmap_dict);
                    },
                    error: function(ts) { console.log(ts.responseText) }
                });
            }); 
        });
    </script>
</head>
<body class="center">
    <form id="explore" method="post" enctype="multipart/form-data"> 
        <select id="dep_sel_button"></select>
        <select id="indep_sel_button"></select>
        <select id="splitby_sel_button"></select>
        <div id="interact_scatterplot"></div>
        <div id="radio_button"></div>    
        <div>
            <p id="agg_slider_lable">aggregate correlation</p>
            <div id="agg_slider"></div>
          </div>   
        <div id = "subgroup_distance"></div>  
        <div id="distance_matrix_2d"></div>       
        <div id="node_link_tree"></div>    
        <div id="bipartite_graph">
            <input name="sortButton" 
                type="button" 
                value="sort" 
                style="float: right;"
                onclick="sortNodes()" />
        </div>     
        <script src="{{ url_for('static', filename='js/interact.js') }}"></script>
        <script src="{{ url_for('static', filename='js/interact_scatterplot.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lasso.js') }}"></script>      
        <script src="{{ url_for('static', filename='js/grid.js') }}"></script>      
        <script src="{{ url_for('static', filename='js/distanceHeatmap2D.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/newmain.js') }}"></script>    
        <script src="{{ url_for('static', filename='js/subgroupDistance.js') }}"></script>   
        <script src="{{ url_for('static', filename='js/bipartite_graph.js') }}"></script>  
        <script src="{{ url_for('static', filename='js/node_link_tree.js') }}"></script>              
    </form>

</body>