<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wiggum: Viz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.13.0/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        var divs = ["container", "tree", "scatterplot"];
        var visibleDivId = null;
        function toggleVisibility(divId) {
          //if(visibleDivId === divId) {
          //  visibleDivId = null;
          //} else {
          //  visibleDivId = divId;
          //}
          visibleDivId = divId;
          hideNonVisibleDivs();

          // always show table
          var tableDiv = document.getElementById("table"); 
          tableDiv.style.display = "inline-block";
        }
        function hideNonVisibleDivs() {
          var i, divId, div;
          var x = document.getElementById("scatterplot"); 

          for(i = 0; i < divs.length; i++) {
            divId = divs[i];
            div = document.getElementById(divId);

            if(visibleDivId === divId) {
              div.style.display = "block";
            } else {
              div.style.display = "none";
            }
            // Set for scatterplot
            if((x.id === divId) && (selectTypeValue == "pearson_corr")) {
              x.style.display = "inline-block";
            } else {
              x.style.display = "none";
            }
          }
        }

        function filter_button() {
                                         
            setSelectedOptions();
            var filter_object =     {   
                                        feat1: feat1_selected,
                                        feat2: feat2_selected, 
                                        group_feat: group_feat_selected,
                                        subgroup: subgroup_selected,
                                        trend_type: trend_type_selected                                                            
                                    };
            filter_object = JSON.stringify(filter_object);

            $.ajax({
                        type: 'POST',
                        url: '/',
                        data: {'action':'filter', 'filter_object': filter_object},                               
                        success: function(data) {
                            server_data = data;
                          
                            drawGraphTable(data);
                        }
                    })
        }

        function reset_button() {
            $.ajax({
                        type: 'POST',
                        url: '/',
                        data: {'action':'reset'},                               
                        success: function(data) {
                            server_data = data;
       
                            drawGraphTable(data);
                        }
                    })
        }     
        
        function detect_button() {
            setSelectedOptions();
            var filter_object =     {   
                                        feat1: feat1_selected,
                                        feat2: feat2_selected, 
                                        group_feat: group_feat_selected,
                                        subgroup: subgroup_selected,
                                        trend_type: trend_type_selected                                                            
                                    };

            filter_object = JSON.stringify(filter_object);

            var threshold = legendAdjustValue;

            var agg_strength_threshold = document.getElementById("agg_trend_strength_slider").value;
            var sg_strength_threshold = document.getElementById("subgroup_trend_strength_slider").value;

            $.ajax({
                        type: 'POST',
                        url: '/',
                        data: {'action':'detect', 'filter_object': filter_object, 'threshold': threshold, 
                                'agg_strength_threshold': agg_strength_threshold, 'sg_strength_threshold': sg_strength_threshold},                               
                        success: function(data) {
                            server_data = data;
 
                            drawGraphTable(data, 'detect');
                        }
                    })
        }   
        
        function rank_button() {
            var agg_type_selector = document.getElementById("agg_type_selector");
            agg_type = agg_type_selector.options[agg_type_selector.selectedIndex].value;
            var view_score_selector = document.getElementById("view_score_selector");
            view_score = view_score_selector.options[view_score_selector.selectedIndex].value;   

            $.ajax({
                        type: 'POST',
                        url: '/',
                        data: {'action':'rank', 'agg_type': agg_type, 'view_score': view_score},                               
                        success: function(data) {
                            server_data = data;
      
                            drawGraphTable(data);
                        }
                    })
        }         

        function save_button() {
            var projectName = $('#projectName').val();
                
            if (projectName == '') {
                alert("Please input your project name!")
                return;
            }
            $.ajax({
                        type: 'POST',
                        url: '/',
                        data: {'action':'save_trends', 'projectName': projectName},                               
                        success: function(data) {
                            var saved = document.getElementById("save-label");
                            saved.innerText = data;
                        }
                    })
        }           

        $(function() {
            // initial draw
            $(document).ready(function(){
                $.ajax({ 
                        type: 'POST',
                        url: "/",
                        data: {'action':'page_load'},
                        success: function(data){
                            if (data == 'no_result') {
                                alert("Current data description yeilds no results for selected trends. Try selecting more trend types or changing variable roles.")
                                document.location.href="/";  
                            } else {
                                server_data = data;

                                // Draw Slider
                                DrawSlider();

                                // Draw Legend
                                d3.select("#legend").selectAll('svg').remove();
                                //DrawLegend();

                                // Initial legend click value
                                legendValue = -1;

                                //drawGraphTable(data, 'page_load');

                                DrawHeatmapLegend();
                                drawDistanceMatrixHeatmap(data, 'page_load');

                                if (rankTrendLegendFlg == true) {
                                    // redraw legend for rank_trend
                                    //d3.select("#legend").selectAll('svg').remove();
                                    //DrawLegend();
                                }
                            }

                    },
                    error: function(ts) { console.log(ts.responseText) }
                });
            });

            // regression-based SP
            var totalWeightChart = document.getElementById("totalweightchart");					
            var totalWeightProgress = new CircularProgress(totalWeightChart, 
                                    {fill: "#dd1c77", range:{min:0,max:100}, innerRadius: 15, outerRadius: 20});
            var totalWeightViewChart = document.getElementById("totalweightviewchart");					
            var totalWeightViewProgress = new CircularProgress(totalWeightViewChart, 
                                    {fill: "#dd1c77", range:{min:0,max:100}, innerRadius: 15, outerRadius: 20});      
            
            // rate-based SP
            var rate_totalWeightChart = document.getElementById("rate_totalweightchart");					
            var rate_totalWeightProgress = new CircularProgress(rate_totalWeightChart, 
                                    {fill: "#dd1c77", range:{min:0,max:100}, innerRadius: 15, outerRadius: 20});
            var rate_totalWeightViewChart = document.getElementById("rate_totalweightviewchart");					
            var rate_totalWeightViewProgress = new CircularProgress(rate_totalWeightViewChart, 
                                    {fill: "#dd1c77", range:{min:0,max:100}, innerRadius: 15, outerRadius: 20});  

            // initialize 
            selectTypeValue = "pearson_corr";

            var individual_weight_name;
            var view_weight_name;

            $('#upload-file-btn').click(function() {
                var form_data = new FormData($('#upload-file')[0]);
                var action = $('#upload-file-btn').val();
                form_data.append('action', action);
                var sp_type = $("#typeSelector option:selected").text();
                form_data.append('sptype', sp_type);

                // Sending weight parameters
                var weight_param = 
                    {   agg_trend: Number(document.getElementById("agg_trend_individual").value), 
                        all_slope: Number(document.getElementById("all_slope_individual").value),
                        angle: Number(document.getElementById("angle_individual").value), 
                        subgroup_slope: Number(document.getElementById("subgroup_slope_individual").value),  
                        subgroup_trend: Number(document.getElementById("subgroup_trend_individual").value)                                           
                    };
                weight_param = JSON.stringify(weight_param);
                form_data.append('weight_param', weight_param);

                var angle_agg_type = document.getElementById("angle_selection").value;
                var subgroup_slope_agg_type = document.getElementById("subgroup_slope_selection").value;
                var subgroup_trend_agg_type = document.getElementById("subgroup_trend_selection").value;

                var angle_key = "angle_" + angle_agg_type;
                var subgroup_slope_key = "subgroup_slope_" + subgroup_slope_agg_type;
                var subgroup_trend_key = "subgroup_trend_" + subgroup_trend_agg_type;                                

                // Sending weight parameters for view
                var weight_param_view = 
                    {   agg_trend: Number(document.getElementById("agg_trend_view").value), 
                        all_slope: Number(document.getElementById("all_slope_view").value),
                        [angle_key]: Number(document.getElementById("angle_view").value), 
                        [subgroup_slope_key]: Number(document.getElementById("subgroup_slope_view").value),  
                        [subgroup_trend_key]: Number(document.getElementById("subgroup_trend_view").value)                             
                    };
                weight_param_view = JSON.stringify(weight_param_view);
                form_data.append('weight_param_view', weight_param_view);    
                
                // Sending view score parameters
                var view_score_param = 
                    {   angle: angle_agg_type, 
                        subgroup_slope: subgroup_slope_agg_type,  
                        subgroup_trend: subgroup_trend_agg_type                                            
                    };
                view_score_param = JSON.stringify(view_score_param);
                form_data.append('view_score_param', view_score_param);                  

                // Sending weighting name
                individual_weight_name = document.getElementById("individual_weight_name").value;
                form_data.append('individual_weight_name', individual_weight_name);
                view_weight_name = document.getElementById("view_weight_name").value;
                form_data.append('view_weight_name', view_weight_name);                

                var clusteringFlg = false;
                if($("input:checkbox:checked").prop("checked") == true){
                    clusteringFlg = true;
                }
                else{
                    clusteringFlg = false;
                }
                form_data.append('clustering', clusteringFlg);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    //data: {'form_data':form_data, 'action':action},
                    //data: {'action':action},
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {

                        // Get data from controller return data
                        drawGraph(data);

                        // Display info table
                        tableRecords = JSON.parse(data.table)
                        //d3.select("#table").style("display", "inline-block");                  

                        tableColumns = ['agg_trend', 'all_slope', 'angle', 'feat1', 'feat2', 'group_feat', 
                                'subgroup', 'subgroup_slope', 'subgroup_trend',
                                angle_key, subgroup_slope_key, subgroup_trend_key, individual_weight_name, view_weight_name];

                        tabulate(tableRecords, tableColumns);

                        // Ranking
                        rankViewResult = JSON.parse(data.rankViewResult)
                        rankingView(rankViewResult);
                    },
                });
            });

            // Button Auto Detect
            $('#autodetect').click(function() {
                
                var action = $('#autodetect').val();
                var threshold = legendAdjustValue;
                var sp_type = $("#typeSelector option:selected").text();
                
                // Sending weight parameters
                var weight_param = 
                    {   agg_trend: Number(document.getElementById("agg_trend_individual").value), 
                        all_slope: Number(document.getElementById("all_slope_individual").value),
                        angle: Number(document.getElementById("angle_individual").value), 
                        subgroup_slope: Number(document.getElementById("subgroup_slope_individual").value),  
                        subgroup_trend: Number(document.getElementById("subgroup_trend_individual").value)                                            
                    };
                weight_param = JSON.stringify(weight_param);

                var angle_agg_type = document.getElementById("angle_selection").value;
                var subgroup_slope_agg_type = document.getElementById("subgroup_slope_selection").value;
                var subgroup_trend_agg_type = document.getElementById("subgroup_trend_selection").value;

                var angle_key = "angle_" + angle_agg_type;
                var subgroup_slope_key = "subgroup_slope_" + subgroup_slope_agg_type;
                var subgroup_trend_key = "subgroup_trend_" + subgroup_trend_agg_type;     

                // Sending weight parameters for view
                var weight_param_view = 
                    {   agg_trend: Number(document.getElementById("agg_trend_view").value), 
                        all_slope: Number(document.getElementById("all_slope_view").value),
                        [angle_key]: Number(document.getElementById("angle_view").value), 
                        [subgroup_slope_key]: Number(document.getElementById("subgroup_slope_view").value),  
                        [subgroup_trend_key]: Number(document.getElementById("subgroup_trend_view").value),
                        SP_subgroups: Number(document.getElementById("sp_subgroups_view").value),
                        gby_counts: Number(document.getElementById("gby_counts_view").value),
                        portions: Number(document.getElementById("portions_view").value)                                                                    
                    };
                weight_param_view = JSON.stringify(weight_param_view);
                
                // Sending view score parameters
                var view_score_param = 
                    {   angle: angle_agg_type, 
                        subgroup_slope: subgroup_slope_agg_type,  
                        subgroup_trend: subgroup_trend_agg_type                                            
                    };
                view_score_param = JSON.stringify(view_score_param);              

                // Sending weighting name
                var individual_weight_name_flg, view_weight_name_flg = false;
                if (individual_weight_name != document.getElementById("individual_weight_name").value) {
                    individual_weight_name = document.getElementById("individual_weight_name").value;
                    individual_weight_name_flg = true;
                }
                if (view_weight_name != document.getElementById("view_weight_name").value) {
                    view_weight_name = document.getElementById("view_weight_name").value;
                    view_weight_name_flg = true;
                }               
                

                $.ajax({
                    url: '/',
                    data: {'action' : action, 'threshold': threshold, 'sptype': sp_type, 'weight_param': weight_param, 
                            'weight_param_view': weight_param_view, 'view_score_param': view_score_param,
                            'individual_weight_name': individual_weight_name, 'view_weight_name': view_weight_name},     
                    type: 'POST',      
                    success: function(data) { 
                        // Get data from controller return data
                        autoDetectResult = JSON.parse(data.result)

                        if (autoDetectFlag == 0) {
                            tableColumns = ['agg_trend', 'all_slope', 'angle', 'feat1', 'feat2', 'group_feat', 
                                'subgroup', 'subgroup_slope',subgroup_trend_key, 'SP_subgroups', 'gby_counts', 'portions',
                                angle_key, subgroup_trend_key, individual_weight_name, view_weight_name];
                        }

                        autoDetectFlag = 1;
                        ranking = {};

                        if (selectTypeValue == "pearson_corr") {
                            updateContainer();

                            // Display info table
                            tableRecords = JSON.parse(data.table)

                            // name changed, then update
                            if (individual_weight_name_flg)
                                tableColumns.push(individual_weight_name);                              
                            if (view_weight_name_flg)
                                tableColumns.push(view_weight_name);                              
                            
                            tabulate(tableRecords, tableColumns);

                            // Ranking
                            rankViewResult = JSON.parse(data.rankViewResult)
                            rankingView(rankViewResult);

                        } else {
                            updateRateSPContainer();
                        }

                    }
                });
            });

            // number change
            $('input[type="number"]').change(function () {
                var str = $(this).attr("id");
                var sliderid = str.substring(0, str.length - 7);
                var value = $(this).val();
                $("#"+sliderid).val(value);

                // Total counting for individual
                var totalValue = 0;


                if (selectTypeValue == "pearson_corr") {
                    $("[id$='_individual_number']").each(function () { 
                        totalValue = totalValue + Math.round(this.value*100);
                    });

                    totalWeightProgress.update([totalValue]);
                } else {
                    // rate SP
                    $("[id$='_individual_number_rate']").each(function () { 
                        totalValue = totalValue + Math.round(this.value*100);
                    });

                    rate_totalWeightProgress.update([totalValue]);
                }        

                // Total counting for view
                var totalValueView = 0;

                if (selectTypeValue == "pearson_corr") {
                    $("[id$='_view_number']").each(function () { 
                        totalValueView =  totalValueView + Math.round(this.value*100);
                    });
                    totalWeightViewProgress.update([totalValueView]);
                } else {
                    $("[id$='_view_number_rate']").each(function () { 
                        totalValueView =  totalValueView + Math.round(this.value*100);
                    });
                    rate_totalWeightViewProgress.update([totalValueView]);
                }                
                
            });       
        });    
    </script>
</head>
<body class="center">
<form id="upload-file" method="post" enctype="multipart/form-data"> 
   <!--  <form action="/" method="post" role="form">   -->

    <div class= "row">
         <!-- 
        <div id="extra">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   
            <a href="#" onclick="toggleVisibility('container')">Linear Layout</a>
            &nbsp;&nbsp;&nbsp;
            <div id="extra_regression" style="display:inline-block;" >
                <a href="#" onclick="toggleVisibility('tree')">Tree Hierarchy</a>
            </div>
            &nbsp;&nbsp;&nbsp;(Click a title to select a detail plot or a cell to focus a detail plot)       
        </div> 
        -->
        <br/><br/><br/>
        <div id="selectors">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
                 <!-- <div id="clustering">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="clustering">&nbsp;<label style="font-size: 14px;">Clustering</label><br/>   
        </div>        -->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <!-- <button id="upload-file-btn" type="button" value="upload">Visualize</button> -->
        <div id ="slider" class="slider"></div>
        <br/><br/>
        <div id="legendTypeSelector" style="display:none;">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id="legend"></div>
        <div id ="controlbuttons"></div>       
        <div id ="ranking"></div>           
    </div>

    <div id="rankingdiv" style="display:none; float:left">
        <table class="rankingparam" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" colspan="3">
                                Weight Setting for Individuals
                            </th>                           
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">weight name</td>
                            <td class="param">                        
                                <input type="text" id="individual_weight_name" size="12">  
                            </td> 
                            <td class="param">
                                <div id="totalweightchart"></div>   
                            </td>                                                        
                        </tr>                           
                        <tr class = "paramtr">
                            <td class="param">agg_trend</td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="agg_trend_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>                    
                            <td class="param">
                                <input type="number" id="agg_trend_individual_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">all_slope</td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="all_slope_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>    
                            <td class="param">                       
                                <input type="number" id="all_slope_individual_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">angle</td>                 
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="angle_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>                        
                            <td class="param">
                                <input type="number" id="angle_individual_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_slope</td>                    
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_slope_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="subgroup_slope_individual_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                    
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_trend</td>
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_trend_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>    
                            <td class="param">
                                <input type="number" id="subgroup_trend_individual_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                         
                        </tr>                                      
                    </table>
                </td>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" colspan="8">
                                Weight Setting for Views
                            </th>
                        </tr>
                        <tr class = "paramtr">
                                <td class="param">weight name</td>
                                <td class="param" colspan="2">                        
                                    <input type="text" id="view_weight_name" size="21">  
                                </td> 
                                <td class="param">
                                    <div id="totalweightviewchart"></div>   
                                </td>                                                        
                            </tr>                          
                        <tr class = "paramtr">
                            <td class="param">agg_trend</td>
                            <td class="param"></td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="agg_trend_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="agg_trend_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>  
                            <td class="param">&nbsp;&nbsp;&nbsp;SP_subgroups</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="sp_subgroups_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>   
                            <td class="param">
                                <input type="number" id="sp_subgroups_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                                                                                
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">all_slope</td>
                            <td class="param"></td>                            
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="all_slope_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td> 
                            <td class="param">
                                <input type="number" id="all_slope_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>    
                            <td class="param">&nbsp;&nbsp;&nbsp;gby_counts</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="gby_counts_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>  
                            <td class="param">
                                <input type="number" id="gby_counts_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                                                 
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">angle</td>
                            <td class="param">
                                <select id = "angle_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>
                            </td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="angle_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="angle_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                               
                            <td class="param">&nbsp;&nbsp;&nbsp;portions</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="portions_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td> 
                            <td class="param">
                                <input type="number" id="portions_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                               
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_slope</td>
                            <td class="param">
                                <select id = "subgroup_slope_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>                                
                            </td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_slope_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="subgroup_slope_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                            <td class="param"></td>
                            <td class="param"></td>
                            <td class="param" rowspan="2">
                                <button id="autodetect" type="button" name="autodetect" value="autodetect">AutoDetect</button> 
                            </td>                                                 
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_trend</td>
                            <td class="param">
                                <select id = "subgroup_trend_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>                                
                            </td>                           
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_trend_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>   
                            <td class="param">
                                <input type="number" id="subgroup_trend_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                            
                        </tr>                                                        
                    </table>  
                </td>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" nowrap style="vertical-align: top;">
                                Ranked Views
                            </th>
                        </tr>
                        <tr class = "paramtr">
                            <td class="param" style="text-align: center;">                    
                                <select id ="ranking" size="10"></select>
                            </td>                         
                        </tr>                                                                                                                                    
                    </table>                      
            </td></tr>
        </table>    
    </div>
    <div id="rate_rankingdiv" style="display:none;">
        <table class="rankingparam" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" colspan="3">
                                Weight Setting for Individuals
                            </th>                           
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">weight name</td>
                            <td class="param">                        
                                <input type="text" id="individual_weight_name" size="12">  
                            </td> 
                            <td class="param">
                                <div id="rate_totalweightchart"></div>   
                            </td>                                                        
                        </tr>                           
                        <tr class = "paramtr">
                            <td class="param">agg_rate</td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="agg_rate_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>                    
                            <td class="param">
                                <input type="number" id="agg_rate_individual_number_rate" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">all_slope</td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="all_slope_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>    
                            <td class="param">                       
                                <input type="number" id="all_slope_individual_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">distance</td>                 
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="distance_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>                        
                            <td class="param">
                                <input type="number" id="distance_individual_number_rate" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_slope</td>                    
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_slope_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="subgroup_slope_individual_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                    
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_rate</td>
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_rate_individual" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>    
                            <td class="param">
                                <input type="number" id="subgroup_rate_individual_number_rate" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                         
                        </tr>                                      
                    </table>
                </td>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" colspan="8">
                                Weight Setting for Views
                            </th>
                        </tr>
                        <tr class = "paramtr">
                                <td class="param">weight name</td>
                                <td class="param" colspan="2">                        
                                    <input type="text" id="view_weight_name" size="21">  
                                </td> 
                                <td class="param">
                                    <div id="rate_totalweightviewchart"></div>   
                                </td>                                                        
                            </tr>                          
                        <tr class = "paramtr">
                            <td class="param">agg_rate</td>
                            <td class="param"></td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="agg_rate_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="agg_rate_view_number_rate" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>  
                            <td class="param">&nbsp;&nbsp;&nbsp;SP_subgroups</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="sp_subgroups_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>   
                            <td class="param">
                                <input type="number" id="sp_subgroups_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                                                                                
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">all_slope</td>
                            <td class="param"></td>                            
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="all_slope_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td> 
                            <td class="param">
                                <input type="number" id="all_slope_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>    
                            <td class="param">&nbsp;&nbsp;&nbsp;gby_counts</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="gby_counts_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>  
                            <td class="param">
                                <input type="number" id="gby_counts_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                                                 
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">distance</td>
                            <td class="param">
                                <select id = "distance_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>
                            </td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="distance_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="distance_view_number_rate" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                               
                            <td class="param">&nbsp;&nbsp;&nbsp;portions</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="portions_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td> 
                            <td class="param">
                                <input type="number" id="portions_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                               
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_slope</td>
                            <td class="param">
                                <select id = "subgroup_slope_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>                                
                            </td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_slope_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="subgroup_slope_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                            <td class="param"></td>
                            <td class="param"></td>
                            <td class="param" rowspan="2">
                                <button id="autodetect" type="button" name="autodetect" value="autodetect">AutoDetect</button> 
                            </td>                                                 
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_rate</td>
                            <td class="param">
                                <select id = "subgroup_rate_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>                                
                            </td>                           
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_rate_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>   
                            <td class="param">
                                <input type="number" id="subgroup_rate_view_number_rate" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                            
                        </tr>                                                        
                    </table>  
                </td>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" nowrap style="vertical-align: top;">
                                Ranked Views
                            </th>
                        </tr>
                        <tr class = "paramtr">
                            <td class="param" style="text-align: center;">                    
                                <select id ="ranking" size="10"></select>
                            </td>                         
                        </tr>                                                                                                                                    
                    </table>                      
            </td></tr>
        </table>    
    </div>    
    <div style="display:inline-block; float:left" id="container">
    </div>

    <div style="display:none; float:left" id="tree"></div>  
    <div style="display:none; float:left" id="table">  
    </div>

               <!--<div class="vl"></div>  -->
    <div id="slopeLabel"></div>
    <div style="display:none; float:left" id="scatterplot"></div>
    <div id="slopegraph"></div>
    <div id="groupedbarchart"></div>
    <div id="rankchart"></div>
    <div id="rankchart2"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newmain.js') }}"></script>

    <script src="{{ url_for('static', filename='js/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterplot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/correlationMatrix.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rateMatrix.js') }}"></script>
    <script> d3.my = {}; </script>
    <script src="{{ url_for('static', filename='js/d3_code_slopegraph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slopegraph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/groupedbarchart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rankingView.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/circularProcess.js') }}"></script>        
    <script src="{{ url_for('static', filename='js/distanceMatrixHeatmap.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/rankchart.js') }}"></script>     
    <script src="{{ url_for('static', filename='js/parallelcoordinates.js') }}"></script>       
    </form>

</body>
