<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Correlation Matrix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        var divs = ["container", "tree", "scatterplot"];
        var visibleDivId = null;
        function toggleVisibility(divId) {
          //if(visibleDivId === divId) {
          //  visibleDivId = null;
          //} else {
          //  visibleDivId = divId;
          //}
          visibleDivId = divId;
          hideNonVisibleDivs();

          // always show table
          var tableDiv = document.getElementById("table"); 
          tableDiv.style.display = "inline-block";
        }
        function hideNonVisibleDivs() {
          var i, divId, div;
          var x = document.getElementById("scatterplot"); 

          for(i = 0; i < divs.length; i++) {
            divId = divs[i];
            div = document.getElementById(divId);

            if(visibleDivId === divId) {
              div.style.display = "block";
            } else {
              div.style.display = "none";
            }
            // Set for scatterplot
            if((x.id === divId) && (selectTypeValue == "Regression")) {
              x.style.display = "inline-block";
            } else {
              x.style.display = "none";
            }
          }
        }


        $(function() {
            $('#upload-file-btn').click(function() {
                var form_data = new FormData($('#upload-file')[0]);
                var action = $('#upload-file-btn').val();
                form_data.append('action', action);
                var sp_type = $("#typeSelector option:selected").text();
                form_data.append('sptype', sp_type);

                // Sending weight parameters
                var weight_param = 
                    {   agg_trend: document.getElementById("agg_trend").value, 
                        all_slope: document.getElementById("all_slope").value,
                        angle: document.getElementById("angle").value, 
                        subgroup_slope: document.getElementById("subgroup_slope").value,  
                        subgroup_trend: document.getElementById("subgroup_trend").value,                                            
                    };
                weight_param = JSON.stringify(weight_param);
                form_data.append('weight_param', weight_param);

                // Sending weight parameters for view
                var weight_param_view = 
                    {   agg_trend: document.getElementById("agg_trend_view").value, 
                        all_slope: document.getElementById("all_slope_view").value,
                        angle_y: document.getElementById("angle_view").value, 
                        subgroup_slope_y: document.getElementById("subgroup_slope_view").value,  
                        subgroup_trend_y: document.getElementById("subgroup_trend_view").value,                                            
                    };
                weight_param_view = JSON.stringify(weight_param_view);
                form_data.append('weight_param_view', weight_param_view);    
                
                // Sending view score parameters
                var view_score_param = 
                    {   angle: document.getElementById("angle_selection").value, 
                        subgroup_slope: document.getElementById("subgroup_slope_selection").value,  
                        subgroup_trend: document.getElementById("subgroup_trend_selection").value                                            
                    };
                view_score_param = JSON.stringify(view_score_param);
                form_data.append('view_score_param', view_score_param);                  

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    //data: {'form_data':form_data, 'action':action},
                    //data: {'action':action},
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {

                        var $categoricalVarsSelect = $('#categoricalVarsSelect');

                        for (var i = 0; i < data.length; i++) {
                            $categoricalVarsSelect.append('<option id=' + data[i] + ' value=' + data[i] + '>' + data[i] + '</option>');
                        }
                        // Get data from controller return data
                        drawGraph(data);

                        // Display info table
                        tableRecords = JSON.parse(data.table)
                        //d3.select("#table").style("display", "inline-block");                  

                        tableColumns = ['agg_trend', 'all_slope', 'angle_x', 'feat1', 'feat2', 'group_feat', 
                                'subgroup', 'subgroup_slope_x', 'subgroup_trend_x','std_wt',
                                'angle_y', 'subgroup_slope_y', 'subgroup_trend_y', 'std_wt_view'];
                        tabulate(tableRecords, tableColumns);

                        // Ranking
                        rankViewResult = JSON.parse(data.rankViewResult)
                        rankingView(rankViewResult);
                    },
                });
            });

            // Button Auto Detect
            $('#autodetect').click(function() {
                
                var action = $('#autodetect').val();
                var threshold = legendAdjustValue;
                var sp_type = $("#typeSelector option:selected").text();
                
                // Sending weight parameters
                var weight_param = 
                    {   agg_trend: document.getElementById("agg_trend").value, 
                        all_slope: document.getElementById("all_slope").value,
                        angle_x: document.getElementById("angle").value, 
                        subgroup_slope_x: document.getElementById("subgroup_slope").value,  
                        subgroup_trend_x: document.getElementById("subgroup_trend").value,                                            
                    };
                weight_param = JSON.stringify(weight_param);

                // Sending weight parameters for view
                var weight_param_view = 
                    {   agg_trend: document.getElementById("agg_trend_view").value, 
                        all_slope: document.getElementById("all_slope_view").value,
                        angle_y: document.getElementById("angle_view").value, 
                        subgroup_slope_y: document.getElementById("subgroup_slope_view").value,  
                        subgroup_trend_y: document.getElementById("subgroup_trend_view").value,                                            
                    };
                weight_param_view = JSON.stringify(weight_param_view);
                
                // Sending view score parameters
                var view_score_param = 
                    {   angle_x: document.getElementById("angle_selection").value, 
                        subgroup_slope_x: document.getElementById("subgroup_slope_selection").value,  
                        subgroup_trend_x: document.getElementById("subgroup_trend_selection").value                                            
                    };
                view_score_param = JSON.stringify(view_score_param);              

                $.ajax({
                    url: '/',
                    data: {'action' : action, 'threshold': threshold, 'sptype': sp_type, 'weight_param': weight_param, 
                            'weight_param_view': weight_param_view, 'view_score_param': view_score_param},     
                    type: 'POST',      
                    success: function(data) { 
                        // Get data from controller return data
                        autoDetectResult = JSON.parse(data.result)
                        autoDetectFlag = 1;
                        ranking = {};

                        if (selectTypeValue == "Regression") {
                            updateContainer();

                            // Display info table
                            tableRecords = JSON.parse(data.table)
                            console.log(tableRecords);
                            tableColumns = ['agg_trend', 'all_slope', 'angle_x', 'feat1', 'feat2', 'group_feat', 
                                'subgroup', 'subgroup_slope','subgroup_trend_x', 'SP_subgroups', 'gby_counts', 'portions', 'std_wt',
                                'angle_y', 'subgroup_trend_y', 'std_wt_view'];
                            tabulate(tableRecords, tableColumns);

                            // Ranking
                            rankViewResult = JSON.parse(data.rankViewResult)
                            rankingView(rankViewResult);

                        } else {
                            updateRateSPContainer();
                        }

                    }
                });
            });

            // number change
            $('input[type="number"]').change(function () {
                var str = $(this).attr("id");
                var sliderid = str.substring(0, str.length - 7);
                $("#"+sliderid).val($(this).val());
            });
        });    
    </script>
</head>
<body class="center">
<form id="upload-file" method="post" enctype="multipart/form-data"> 
   <!--  <form action="/" method="post" role="form">   -->

    <div class= "row">
        <div id="extra">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!--
            <input type="file" onchange="loadFile()" />
            -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            <input name="file" type="file" style = "width:170px">
            <button id="upload-file-btn" type="button" value="upload">Upload</button>
            &nbsp;&nbsp;&nbsp;

            <a href="#" onclick="toggleVisibility('container')">Linear Layout</a>
            &nbsp;&nbsp;&nbsp;
            <div id="extra_regression" style="display:inline-block;" >
                <a href="#" onclick="toggleVisibility('tree')">Tree Hierarchy</a>
            </div>
            &nbsp;&nbsp;&nbsp;(Click a title to select a detail plot or a cell to focus a detail plot)       
        </div> 
        <div id="typeSelector">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id="selectors">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id ="slider" class="slider"></div>
        <br/><br/>
        <div id="legend"></div>
    </div>

           <!--
    <div style="display:inline-block;" id="categoricalVars">
        <select id="categoricalVarsSelect">
            <option id='all' value='all'>ALL</option>
        </select>
    </div>            -->
    <div id="rankingdiv">
        <table class="rankingparam" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" colspan="3">
                                Weight Setting for Individuals
                            </th>
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">agg_trend</td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="agg_trend" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>                    
                            <td class="param">
                                <input type="number" id="agg_trend_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">all_slope</td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="all_slope" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>    
                            <td class="param">                       
                                <input type="number" id="all_slope_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">angle</td>                 
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="angle" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>                        
                            <td class="param">
                                <input type="number" id="angle_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_slope</td>                    
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_slope" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="subgroup_slope_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                    
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_trend</td>
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_trend" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>    
                            <td class="param">
                                <input type="number" id="subgroup_trend_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                         
                        </tr>
                        <tr class="paramtr"><td class="param">&nbsp;</td></tr>
                        <tr class="paramtr"><td class="param">&nbsp;</td></tr>
                        <tr class="paramtr"><td class="param">&nbsp;</td></tr>             
                    </table>
                </td>
                <td>
                    <table class="rankingparam" cellspacing="0" cellpadding="0">
                        <tr class = "paramtr">
                            <th class = "paramth" colspan="4">
                                Weight Setting for Views
                            </th>
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">agg_trend</td>
                            <td class="param"></td>
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="agg_trend_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="agg_trend_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                        
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">all_slope</td>
                            <td class="param"></td>                            
                            <td class="param">
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="all_slope_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td> 
                            <td class="param">
                                <input type="number" id="all_slope_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                        
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">angle</td>
                            <td class="param">
                                <select id = "angle_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>
                            </td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="angle_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="angle_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                        
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_slope</td>
                            <td class="param">
                                <select id = "subgroup_slope_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>                                
                            </td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_slope_view" value = "0" onchange="updateNumberInput(this.id, this.value);">
                            </td>
                            <td class="param">
                                <input type="number" id="subgroup_slope_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                        
                        </tr>                    
                        <tr class = "paramtr">
                            <td class="param">subgroup_trend</td>
                            <td class="param">
                                <select id = "subgroup_trend_selection" class="paramselection">
                                    <option value="sum">Sum</option>
                                    <option value="mean">Mean</option>
                                </select>                                
                            </td>                           
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="subgroup_trend_view" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>   
                            <td class="param">
                                <input type="number" id="subgroup_trend_view_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                              
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">SP_subgroups</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="sp_subgroups" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>   
                            <td class="param">
                                <input type="number" id="sp_subgroups_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                              
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">gby_counts</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="gby_counts" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td>  
                            <td class="param">
                                <input type="number" id="gby_counts_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                               
                        </tr>
                        <tr class = "paramtr">
                            <td class="param">portions</td>
                            <td class="param"></td>                            
                            <td class="param">                        
                                <input type="range" class="paramslider" min="0" max="1" step="0.01" id="portions" value = "0" onchange="updateNumberInput(this.id, this.value);">  
                            </td> 
                            <td class="param">
                                <input type="number" id="portions_number" value="0" min="0" max="1" step="0.01" class="paramnumber"/>
                            </td>                                
                        </tr>                                                            
                    </table>  
                </td>
                <td>
                    <select id ="ranking" size="5"></select>
                    <button id="autodetect" type="button" name="autodetect" value="autodetect">AutoDetect</button>  
            </td></tr>
        </table>    
    </div>
    <div style="display:none; float:left" id="container">
    </div>

    <div style="display:none; float:left" id="tree"></div>
    <div style="display:none; float:left" id="table"></div>
               <!--<div class="vl"></div>  -->
    <div id="slopeLabel"></div>
    <div style="display:none; float:left" id="scatterplot"></div>
    <div id="slopegraph"></div>
    <div id="groupedbarchart"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newmain.js') }}"></script>

    <script src="{{ url_for('static', filename='js/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterplot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/correlationMatrix.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rateMatrix.js') }}"></script>
    <script> d3.eesur = {}; </script>
    <script src="{{ url_for('static', filename='js/d3_code_slopegraph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slopegraph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/groupedbarchart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rankingView.js') }}"></script>    
    </form>

</body>
