<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Correlation Matrix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        var divs = ["container", "tree", "scatterplot"];
        var visibleDivId = null;
        function toggleVisibility(divId) {
          //if(visibleDivId === divId) {
          //  visibleDivId = null;
          //} else {
          //  visibleDivId = divId;
          //}
          visibleDivId = divId;
          hideNonVisibleDivs();
        }
        function hideNonVisibleDivs() {
          var i, divId, div;
          var x = document.getElementById("scatterplot"); 

          for(i = 0; i < divs.length; i++) {
            divId = divs[i];
            div = document.getElementById(divId);

            if(visibleDivId === divId) {
              div.style.display = "block";
            } else {
              div.style.display = "none";
            }
            // Set for scatterplot
            if((x.id === divId) && (selectTypeValue == "Regression")) {
              x.style.display = "inline-block";
            } else {
              x.style.display = "none";
            }
          }
        }


        $(function() {
            $('#upload-file-btn').click(function() {
                var form_data = new FormData($('#upload-file')[0]);
                var action = $('#upload-file-btn').val();
                form_data.append('action', action);
                var sp_type = $("#typeSelector option:selected").text();
                form_data.append('sptype', sp_type);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    //data: {'form_data':form_data, 'action':action},
                    //data: {'action':action},
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {

                        var $categoricalVarsSelect = $('#categoricalVarsSelect');

                        for (var i = 0; i < data.length; i++) {
                            $categoricalVarsSelect.append('<option id=' + data[i] + ' value=' + data[i] + '>' + data[i] + '</option>');
                        }
                        //console.log(data)
                        drawGraph(data);
                    },
                });
            });

            // Button Auto Detect
            $('#autodetect').click(function() {
                
                var action = $('#autodetect').val();
                var threshold = legendAdjustValue;
                var sp_type = $("#typeSelector option:selected").text();
                
                $.ajax({
                    url: '/',
                    data: {'action' : action, 'threshold': threshold, 'sptype': sp_type},     
                    type: 'POST',      
                    success: function(data) { 
                        autoDetectResult = JSON.parse(data.result)

                        autoDetectFlag = 1;
                        //console.log(autoDetectResult)
                        //console.log(Object.keys(autoDetectResult.allCorr).length)
                        if (selectTypeValue == "Regression") {
                            updateContainer();
                        } else {
                            updateRateSPContainer();
                        }

                    }
                });
            });
        });    
    </script>
</head>
<body class="center">
               <form id="upload-file" method="post" enctype="multipart/form-data"> 
   <!--  <form action="/" method="post" role="form">   -->

    <div class= "row">
        <div id="extra">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!--
            <input type="file" onchange="loadFile()" />
            -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            <input name="file" type="file" style = "width:170px">
            <button id="upload-file-btn" type="button" value="upload">Upload</button>
            &nbsp;&nbsp;&nbsp;

            <a href="#" onclick="toggleVisibility('container')">Linear Layout</a>
            &nbsp;&nbsp;&nbsp;
            <div id="extra_regression" style="display:inline-block;" >
                <a href="#" onclick="toggleVisibility('tree')">Tree Hierarchy</a>
            </div>
            &nbsp;&nbsp;&nbsp;(Click a title to select a detail plot or a cell to focus a detail plot)       
        </div> 
        <div id="typeSelector">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id="selectors">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id ="slider" class="slider"></div>
        <br/><br/>
        <div id="legend"></div>
    </div>

           <!--
    <div style="display:inline-block;" id="categoricalVars">
        <select id="categoricalVarsSelect">
            <option id='all' value='all'>ALL</option>
        </select>
    </div>            -->
    <div id="rankingdiv">
            <select multiple id ="ranking"></select>      
            <button id="autodetect" type="button" name="autodetect" value="autodetect">AutoDetect</button>  
    </div>
    <div style="display:none; float:left" id="container">
    </div>

    <div style="display:none; float:left" id="tree"></div>
    <div class="vl"></div>
    <div id="slopeLabel"></div>
    <div style="display:none; float:left" id="scatterplot"></div>
    <div id="slopegraph"></div>
    <div id="groupedbarchart"></div>

    <script src="{{ url_for('static', filename='js/main1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newmain25.js') }}"></script>

    <script src="{{ url_for('static', filename='js/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatterplot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/correlationMatrix.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rateMatrix.js') }}"></script>
    <script> d3.eesur = {}; </script>
    <script src="{{ url_for('static', filename='js/d3_code_slopegraph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slopegraph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/groupedbarchart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rankingListbox.js') }}"></script>

    </form>

</body>
