.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.cell.clicked {
	stroke: black !important;
	stroke-width: 2px!important;
}

.legendCell.clicked {
	stroke: black !important;
	stroke-width: 2px!important;
}

.ratecell.clicked {
	stroke: black !important;
	stroke-width: 2px!important;
}

#container {
    width: 50%;
    display: block;
    background: white;
    height: 70%;
    max-height: 70%;
    overflow-y: scroll;
    padding-right: 30px; 
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 33%;
    padding-bottom: 24%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
  }
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }
.svg-trendtype-title {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 6%;    
}
#legend {
    width: 17%;    
    height: 42%;
    margin-left: 3%;   
    display: block;
    background: white;
    position: absolute;
}

#controlbuttons {
    width: 15%;    
    height: 20%;
    position: absolute;
    margin-left: 5%;   
    margin-top: 30%; 
}

#ranking {
    position: absolute;
    margin-left: 5%;     
    margin-top: 31.5%; 
}

#scatterplot {
    display: inline-block;
    background: white;
    position: absolute;
    width: 30%;       
    margin-top: 6%;      
}

#tree {
    width: 600px;
    display: block;
    background: white;
    margin-left: 260px;
}

.center {
    margin: auto;
    width: 100%;
    height: 100%;
    border: 3px solid #ffffff;
    padding: 0px;
}

.index_center {
    margin: auto;
    width: 1300px;
    border: 3px solid #ffffff;
    padding: 10px;
}

html, form {
    height: 100%;
}

path.link {
    fill: none;
    stroke: #000000;
    stroke-opacity: 0.5;
    stroke-width: 2px;
}

#slopegraph {
    display: block;
    position: absolute;
    background: white;
    right: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    top: 220px;
}

#slopeLabel {
    display: block;
    position: absolute;
    right: 240px;
    top: 200px;
}

line.slope-line4all{
    stroke: black;
    stroke-dasharray: 5,5;
    stroke-width: 2;
}

.vl {
    border-left: 2px solid grey;
    height: 630px;
    position: absolute;
    left: 28%;
    margin-left: -3px;
    margin-top: 80px;
    top: 0;
}

.slider {
    position: relative;
    top: 20px;
    left: 40px;
}

.slider-tray {
    position: absolute;
    width: 100%;
    height: 6px;
    border: solid 1px #ccc;
    border-top-color: #aaa;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
    position: absolute;
    top: 3px;
}

.slider-handle-icon {
    width: 14px;
    height: 14px;
    border: solid 1px #aaa;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    top: -7px;
    left: -7px;
}

.slider-text {
    position: absolute;
    left: 130px;
    top: -3px;
}

#rankingdiv, #rate_rankingdiv {
    width: 60px;
    size: 3;
    display: block;
    background: white;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    top: 10px;
    left: 500px;
}

.vis_row {
    height: 70%;
    width: 20%;
    float: left;
}

.row {
    height: 160px;
}

#table {
    width: 78%;
    display: block;
    background: white;
    margin-left: 20%;
    margin-top: 30px;
    height: 23%;
    max-height: 23%;    
    overflow-y: scroll;   
}

table {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-collapse: collapse;
    border-spacing: 0;
  }

  table, td, th {
    padding: 7px;
    text-align: center;
    border: 1px solid rgb(8,48,107);
  }
  
  th {
    background-color: rgb(8,81,156);
    color: white;
  }

  th.aes:after {
    content: "\21E9";
  }
  
  th.des:after {
    content: "\21E7";
  }
  
  .tablerow.highlighted {
    background-color:#D8D8D8;
}

.filterrow {
    border: none;
    background-color: rgb(255,255,255);
}


.rankingparam {
    border: none;
    box-shadow: none;
}

.paramtr {
    height: 10px;
  }
.paramth {
    background-color: white;
    color: black;
    font-size: 12px;
    border: none;
    padding: 6px;
  }
.param {
    background-color: white;
    color: black;
    font-size: 12px;
    border: none;
    text-align: left;
    padding: 3px;
}

.paramslider {
    height: 10px;
    width: 90px;
  }
.paramselection {
    font-size: 10px;
    height: 10px;
}
.paramnumber {
    height: 8px;
}

#roleSelection {
    width: 100%;
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 10px;
}

div.tooltip {	
    position: fixed;									
    padding: 10px;				
    background: white;	
    border: solid;	
    border-width: 2px;	
    border-radius: 5px;	
}

.border-lines {
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 1;  
}

#trend_type_selection {
    position: absolute;
    top: 50px;
    width: 206px;
}

#control_table {
    position: absolute;
    top: 30px;
    margin-left: 660px;
}

#groupedbarchart {
    display: inline-block;
    position: absolute;
    width: 30%;  
    margin-top: 4.5%;
}

#rankchart {
    display: inline-block;
    position: absolute;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 28%;    
    height: 50%;
    margin-left: 2%;  
    margin-top: 10.5%;
}

#rankchart2 {
    display: block;
    position: absolute;
    background: white;
    right: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    top: 30px;
}

#interact_scatterplot {
    display: inline-block;
    background: white;
    position: absolute;    
    margin-top: 3%;    
    margin-left: 3%;    
}

#dep_sel_button {
    position: absolute;
    margin-left: 3%;   
    margin-top: 1.8%; 
}

#indep_sel_button {
    position: absolute;
    margin-left: 30%;   
    margin-top: 34.5%; 
}

#splitby_sel_button {
    position: absolute;
    margin-left: 30%;   
    margin-top: 1.8%; 
}

#radio_button {
    position: absolute;
    margin-left: 12%;   
    margin-top: 1.8%; 
}

.selection {
    stroke          : gray;
    stroke-width    : 1px;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;      
  }

  .selected{
    fill: yellow !important;
  }

  .lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
  }
  
  .lasso .drawn {
    fill-opacity:.05 ;
  }
  
  .lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
  }
  
  .lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
  }
  
  .not_possible {
    fill:rgb(200,200,200);
  }
  
  .possible {
    fill:#EC888C;
  }
  
#agg_slider_lable {
    position: absolute;
    margin-left: 41.3%;   
    margin-top: 1.8%; 
}

#agg_slider {
    position: absolute;
    margin-left: 40%;   
    margin-top: 1.8%; 
}