.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.cell.clicked {
	stroke: black !important;
	stroke-width: 2px!important;
}

.legendCell.clicked {
	stroke: black !important;
	stroke-width: 2px!important;
}

.ratecell.clicked {
	stroke: black !important;
	stroke-width: 2px!important;
}

#container {
    width: 630px;
    display: block;
    background: white;
    margin-left: 300px;
    margin-top: -150px;
    height: 660px;
    max-height: 660px;    
    overflow-y: scroll;
}

/* with user input parameter for ranking
#container {
    width: 630px;
    display: block;
    background: white;
    margin-left: 260px;
    margin-top: 60px;
    height: 560px;
    max-height: 560px;    
    overflow-y: scroll;
}
*/

#legend {
    width: 230px;
    display: block;
    background: white;
    position: absolute;
}

#controlbuttons {
    position: absolute;
    margin-left: 40px;    
    margin-top: 360px;   
}

#ranking {
    position: absolute;
    margin-left: 40px;    
    margin-top: 390px;   
}

#scatterplot {
    display: block;
    background: white;
    position: absolute;
    margin-left: 90px;    
    margin-top: 10px;      
}

#tree {
    width: 600px;
    display: block;
    background: white;
    margin-left: 260px;
}

.center {
    margin: auto;
    width: 1300px;
    border: 3px solid #ffffff;
    padding: 10px;
}

path.link {
    fill: none;
    stroke: #000000;
    stroke-opacity: 0.5;
    stroke-width: 2px;
}

#slopegraph {
    display: block;
    position: absolute;
    background: white;
    right: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    top: 220px;
}

#slopeLabel {
    display: block;
    position: absolute;
    right: 240px;
    top: 200px;
}

#groupedbarchart {
    display: block;
    position: fixed;
    right: 120px;
    top: 800px;
}

line.slope-line4all{
    stroke: black;
    stroke-dasharray: 5,5;
    stroke-width: 2;
}

.vl {
    border-left: 2px solid grey;
    height: 630px;
    position: absolute;
    left: 28%;
    margin-left: -3px;
    margin-top: 80px;
    top: 0;
}

.slider {
    position: relative;
    top: 20px;
    left: 40px;
}

.slider-tray {
    position: absolute;
    width: 100%;
    height: 6px;
    border: solid 1px #ccc;
    border-top-color: #aaa;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
    position: absolute;
    top: 3px;
}

.slider-handle-icon {
    width: 14px;
    height: 14px;
    border: solid 1px #aaa;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    top: -7px;
    left: -7px;
}

.slider-text {
    position: absolute;
    left: 130px;
    top: -3px;
}

#rankingdiv, #rate_rankingdiv {
    width: 60px;
    size: 3;
    display: block;
    background: white;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    top: 10px;
    left: 500px;
}

.row {
    height: 160px;
}

#table {
    width: 1200px;
    display: block;
    background: white;
    margin-left: 100px;
    margin-top: 20px;
    height: 272px;
    max-height: 272px;    
    overflow-y: scroll;    
}

table {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-collapse: collapse;
    border-spacing: 0;
  }
  table {
    margin: auto;
  }

  table, td, th {
    padding: 7px;
    text-align: center;
    border: 1px solid rgb(8,48,107);
  }
  
  th {
    background-color: rgb(8,81,156);
    color: white;
  }

  th.aes:after {
    content: "\21E9";
  }
  
  th.des:after {
    content: "\21E7";
  }
  
  .tablerow.highlighted {
    background-color:#D8D8D8;
}

.filterrow {
    border: none;
    background-color: rgb(255,255,255);
}


.rankingparam {
    border: none;
    box-shadow: none;
}

.paramtr {
    height: 10px;
  }
.paramth {
    background-color: white;
    color: black;
    font-size: 12px;
    border: none;
    padding: 6px;
  }
.param {
    background-color: white;
    color: black;
    font-size: 12px;
    border: none;
    text-align: left;
    padding: 3px;
}

.paramslider {
    height: 10px;
    width: 90px;
  }
.paramselection {
    font-size: 10px;
    height: 10px;
}
.paramnumber {
    height: 8px;
}

#roleSelection {
    width: 200px;
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 10px;
}

div.tooltip {	
    position: fixed;									
    padding: 10px;				
    background: white;	
    border: solid;	
    border-width: 2px;	
    border-radius: 5px;	
}

.border-lines {
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 1;  
}

#trend_type_selection {
    position: absolute;
    top: 50px;
}

#control_table {
    position: absolute;
    top: 30px;
    margin-left: 660px;
}

#rankchart {
    display: block;
    position: absolute;
    background: white;
    right: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    top: 160px;
}

#rankchart2 {
    display: block;
    position: absolute;
    background: white;
    right: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    top: 30px;
}